/* Modal stil ayarları */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Diğer stil ayarları burada */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center; 
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Varsayılan grid hücresi stili */
.grid div {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #fff;
}

/* Kare şeklindeki resimler */
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 0px solid #ccc;
}

/* Özel hücre stili (örneğin, dikdörtgen) */
.special-cell {
    height: 150px;
    width: 300px;
}

.special-cell img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resmi tam olarak hücreye sığdır */
    object-position: center;
}


.prediction {
    text-align: center;
    margin-top: 20px;
}

.prediction input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    font-size: 16px;
}

.prediction button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.prediction button:hover {
    background-color: #0056b3;
}
